@page
@model UnikOnBoarding.Pages.Project.EditModel
@{
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="~/css/homemadestyle.css" asp-append-version="true" />

<h2>Opdater Projekt</h2>
<div class="row">
    <div class="col-md-6">
        <form method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="ProjectEditModel.ProjectId" class="form-control" />
            <input type="hidden" asp-for="ProjectEditModel.DateCreated" class="form-control" />
            <input type="hidden" asp-for="ProjectEditModel.RowVersion" class="form-control" />
            <div class="form-group">
                <label asp-for="ProjectEditModel.ProjectName"></label>
                <input asp-for="ProjectEditModel.ProjectName" class="form-control" />
                <span asp-validation-for="ProjectEditModel.ProjectName" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-warning">Opdater Projekt</button>
        </form>
    </div>
</div>